<body>
  <div class="cover">
    <div class="mycover"></div>
    <section class="userApply py-3" id="userApply">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-6 col-12 mb-5">
            <div class="card  d-flex flex-column">
              <div class="card-body text-center">
                <h5 class="card-title">Apply Now!</h5>
                <p class="card-text">Do you love teaching? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Accusantium, earum debitis vel odit soluta amet aperiam veniam, reiciendis, illum minus beatae
                  quisquam veritatis doloribus explicabo.</p>
                 <a href="#forapply"> <button class="apply">Apply</button></a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-6 col-12 mb-5">
            <div class="card  d-flex flex-column">
              <div class="card-body text-center">
                <h5 class="card-title">Students</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quidem
                  similique ea laboriosam reiciendis tempore exercitationem quis culpa iusto omnis.</p>
                <button class="join" routerLink="/create-account">Join us</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
  <div class="container">
    <div class="int">
      <h1>Basics</h1>
      <h4>Learn the basics of Filipino phrases!</h4>
      <p>(Alamin ang mga pangunahing kaalaman sa mga pariralang Filipino!)</p>
    </div>
    <div class="first">
      <div class="one">
        <h3>Kumusta</h3>
        <h6>(Hello) </h6>
        <p>Hyphenation: ku‧mus‧ta. <br>
          IPA: /kumusˈta/, [kʊ.mʊsˈta]</p>
      </div>
      <div class="example">
        <h6>Kumusta is Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur neque sed
          laboriosam reprehenderit dolorum unde! Ducimus eos cum libero odit voluptatem commodi perferendis earum!</h6>
      </div>
    </div>
    <hr>
    <div class="first">
      <div class="one">
        <h3>Magandang umaga!</h3>
        <h6>(Good morning!)</h6>
        <p>
          Hyphenation: ma‧gan‧dang u‧ma‧ga <br>
          IPA: /maˌɡandaŋ ʔuˈmaɡa/, [mɐˌɣan.dɐŋ ʔʊˈma.ɣɐ]
        </p>
      </div>
      <div class="example">
        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur neque sed laboriosam
          reprehenderit dolorum unde! Ducimus eos cum libero odit voluptatem commodi perferendis earum!</h6>
      </div>
    </div>
    <hr>
    <div class="first">
      <div class="one">
        <h3>Magandang gabi!</h3>
        <h6>(Good evening!)</h6>
        <p>
          Hyphenation: ma‧gan‧dang ga‧bi <br>
          IPA: /maˌɡandaŋ ɡaˈbi/, [mɐˌɣan.dɐŋ ɡɐˈbi]
        </p>
      </div>
      <div class="example">
        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur neque sed laboriosam
          reprehenderit dolorum unde! Ducimus eos cum libero odit voluptatem commodi perferendis earum!</h6>
      </div>
    </div>
    <hr>
    <div class="first">
      <div class="one">
        <h3>Ano ang pangalan mo?</h3>
        <h6>(What is your name?)</h6>
        <p>
          Hyphenation: a‧no ang pa‧nga‧lan mo
        </p>
      </div>
      <div class="example">
        <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia consectetur neque sed laboriosam
          reprehenderit dolorum unde! Ducimus eos cum libero odit voluptatem commodi perferendis earum!</h6>
      </div>
    </div>
    <hr>
  </div>

  <div class="communication">
    <div class="proper">
      <h1>Communication</h1>
      <h3>Verbal</h3>
      <p class="paragraph">
        <b>Communication Style:</b> Filipinos will try to express their opinions and ideas diplomatically and with
        humility to avoid appearing arrogant. The tone of voice varies widely by language, dialect and region.
      </p>
      <p class="paragraph">
        <b>Indirect Communication:</b> Filipinos often communicate indirectly in order to prevent a loss of face and
        evoking hiya on either side of an exchange. They tend to avoid interrupting others and are more attentive to
        posture, expression and tone of voice to draw meaning. Speech is often ambiguous and Filipinos may speak in the
        passive voice rather than the active to avoid being perceived as speaking harshly. To find the underlying
        meaning, it is common to check for clarification several times.
      </p>
      <p class="paragraph">
        <b>Refusals:</b> Since many Filipinos try to save face and avoid hiya in their interactions, many will be overly
        polite and seldom give a flat ‘no’ or negative response. When conversing with your Filipino counterpart, try to
        focus on hints of hesitation. Listen to what they say and also pay close attention to what they don’t say.
      </p>
      <p class="paragraph">
        <b> Respect:</b> When speaking to those who are older or of higher status, Filipinos tend to use the polite
        forms of speech. At the end of phrases, sentences or questions, they will say ‘po’ to demonstrate this respect
        for hierarchy. For example, when conversing with an elder or someone of higher status, one will say ‘salamat po’
        (‘thank you po’).
      </p>
      <br>
      <h3>Non-Verbal</h3>
      <p class="paragraph">
        <b>Physical Contact:</b> Among relatives or friends of the same gender, it is common for Filipinos to walk hand
        in hand or arm in arm. This is generally done so as a sign of affection, friendship or if they are shy and would
        like someone to accompany them. Filipinos tend to be modest and conservative in their interactions with their
        significant other, and public displays of affection among couples (such as kissing or hugging) is quite
        uncommon.
      </p>
      <p class="paragraph" >
        <b>Personal Space:</b> When interacting with people they are familiar with, Filipinos tend to prefer standing at
        an arm's length from one another. Around strangers this distance is farther. However, in public areas like a
        market or subway, personal space is often limited and pushing is common.
      </p>
      <p class="paragraph">
        <b>Laughter:</b> While Filipinos often laugh in conversations, the meaning of laughter tends to depend on the
        situation. At times, laughing may indicate happiness or pleasure, while other times it may be used to relieve
        tension. In some circumstances, laughter is used as an attempt to cover embarrassment.
      </p>
      <p class="paragraph">
        <b>Pointing:</b> Filipinos may point to objects by puckering their lips and moving their mouths in the direction
        they are pointing to. Pointing with the index finger is often understood as an expression of anger.
      </p>
      <p class="paragraph">
        <b>Gestures:</b> Putting one’s hands on their hips is a sign of anger.
      </p>
      <p class="paragraph">
        <b>Beckoning:</b> Beckoning: The common way to beckon someone is by gesturing with the hand facing downwards and
        waving fingers towards oneself, the same gesture that would represent ‘shooing’ in Australia. If a Filipino
        wants someone’s attention, it is common for them to make a sound like ‘pssst’.
      </p>
    </div>
  </div>

  <div class="aboutFilipino">
    <div class="aboutfil">
      <h1>Learning Filipino...</h1>
      <p class="paragraph">
        There are a number of characteristics of Tagalog that make it an attractive language to learn for beginners. In
        addition to many similarities in vocabulary between English and Tagalog, the language is non-tonal and contains
        a fairly small number of pronunciations that cause a difference in a word’s meaning. Tagalog has five vowels and
        18 consonants, and syllables that follow a simple and straightforward structure. Most Tagalog syllables are
        open, meaning they end either in a vowel, or they end in /m, n, ŋ/. And Tagalog nouns don’t vary based on case
        or number. What’s more, just a few nouns, mostly those that originated with the Spanish language, are gendered
        nouns. <br>
      </p>
      <p class="paragraph">
        But instead of focusing in on the structure of the Tagalog language, it’s recommended that new language learners
        first work to become comfortable with the sounds and pronunciations of the Tagalog language. In Tagalog
        pronunciation, the stress falls on either the last or next-to-last syllable of a word, and this pronunciation is
        paired with a lengthening of the vowel. Once you’ve become familiar with the basic sounds of Tagalog
        pronunciation, you’ll be able to move on to learning longer phrases and more complicated concepts, as you work
        to become comfortable and confident understanding and speaking in Tagalog .
      </p>
      <p class="paragraph" id="forapply">
        Tagalog can be incredibly approachable for the average learner simply because it adapts quite a bit of
        vocabulary from both English and Spanish. The language is part of the Austronesian language family and is
        influenced not only by Spanish and English, but also Chinese, Malay, Arabic, and Persian. It’s important though
        to differentiate Tagalog from Filipino. While the language can sometimes be referred to as Filipino, it is not
        the same language. Filipino is the standardized version of the Tagalog adapted from dialects spoken around
        Manilla and injected with a heavy dose of Spanish and English vocabulary.
      </p>
    </div>

  </div>




  <div class="forapply" id="forapply">
    <form class="row g-3 needs-validation"  novalidate (ngSubmit)="applyTeacher()">
      <h1>APPLY FORM FOR TEACHERS</h1>
      <div [innerHTML]="target"></div>
      <div class="col-lg-6">
        <label for="firstname" class="form-label">First name</label>
        <input type="text" class="form-control" name="firstname" [(ngModel)]="apply.firstname" id="firstname" value=""
          required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-lg-6">
        <label for="lastname" class="form-label">Last name</label>
        <input type="text" class="form-control" name="lastname" [(ngModel)]="apply.lastname" id="lastname" value=""
          required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-lg-6">
        <label for="email" class="form-label">Email</label>
        <div class="input-group has-validation">
          <input type="email" class="form-control" name="email" [(ngModel)]="apply.email" id="email"
            aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="col-lg-6">
        <label for="email" class="form-label">Password</label>
        <div class="input-group has-validation">
          <input type="password" class="form-control" name="password" [(ngModel)]="apply.password" id="password"
            value="password">
        </div>
      </div>
      <div class="col-lg-6">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" name="city" [(ngModel)]="apply.city" id="city" required>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
      <div class="col-lg-6">
        <label for="degree" class="form-label">Degree</label>
        <input type="text" class="form-control" name="city" [(ngModel)]="apply.degree" id="degree" required>
        <div class="invalid-feedback">
          Please provide your Bachelor's Degree.
        </div>
      </div>
      <div class="col-lg-6">
        <label for="school_graduated" class="form-label">School Graduated</label>
        <input type="text" class="form-control" name="school_graduated" [(ngModel)]="apply.school_graduated"
          id="school_graduated" required>
        <div class="invalid-feedback">
          Please provide a valid school you graduated.
        </div>
      </div>
      <div class="col-lg-6">
        <label for="degree" class="form-label">G-Cash QR Code</label>
        <input type="file" class="form-control" name="qrCode" id="qrCode" required [(ngModel)]="apply.qrCode">
        <div class="invalid-feedback">
          Please select a valid QR Code.
        </div>
      </div>
      <div class="col-lg-6">
        <label for="degree" class="form-label">Language/s</label>
        <input type="text" class="form-control" name="language" id="language" required [(ngModel)]="apply.language">
        <div class="invalid-feedback">
          Please provide language options.
        </div>
      </div>
      <div class="col-lg-12">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" name="description" id="description" [(ngModel)]="apply.description" rows="3"
          required></textarea>
        <div class="invalid-feedback">
          Please provide a Description.
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to <a href="">Terms and Conditions</a>
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Apply</button>
      </div>
    </form>
  </div>

  <!--Footer ni siya-->
  <footer class="text-center text-lg-start ">
    <!-- Section: Social media -->
    <section id="section" class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <h3><span>Our focus is on your success and we can guide you there.</span></h3>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="links">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Learn Filipino.
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Lessons Offered
            </h6>
            <p>Beginner's Level </p>
            <p>Intermediate Level</p>
            <p>Advance Level</p>
          </div>
          <!-- Grid column -->


          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i>Samjung Bldg,Talamban,Cebu City</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              group13@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 63 927 745 5224</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div id="text-center" class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="">Learn Filipino.</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
